<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Página de Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body style="background-color: black;">

    <div class="container">

        <div class="row">
            <div class="col-12 p-5">
                <div class="text-center">
                    <img src="imagens/DYT.png" class="img-thumbnail" alt="Image" height="150" width="150"
                        style="border-color: black; background-color: black;">
                </div>
            </div>

            <form action="/register" method="post">
                <div class="row">
                    <div class="col-6">
                        <div class="mt-3">
                            <label for="nome" class="form-label" style="color: aliceblue;">Nome de
                                usuário:</label>
                            <input type="text" class="form-control" id="nomeUsuario" name="nome_usuario"
                                placeholder="Insira o nome de usuário"
                                style="color: aliceblue; border-color: blueviolet; background-color: black; height: 60px; font-size: 20px;">
                        </div>

                        <div class="mt-3">
                            <label for="email" class="form-label" style="color: aliceblue;">E-mail:</label>
                            <input type="text" class="form-control" id="email" name="email_usuario"
                                placeholder="Insira o seu email"
                                style="color: aliceblue; border-color: blueviolet; background-color: black; height: 60px; font-size: 20px;">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mt-3">
                            <label for="senha" class="form-label" style="color: aliceblue;">Senha:</label>
                            <input type="password" class="form-control" id="senha" name="senha_usuario"
                                placeholder="Insira sua senha"
                                style="color: aliceblue; border-color: blueviolet; background-color: black; height: 60px; font-size: 20px;">
                        </div>

                        <div class="mt-3">
                            <label for="confirmacao_senha" class="form-label" style="color: aliceblue;">Confirmação de
                                senha:</label>
                            <input type="password" class="form-control" id="confirmacao_senha" name="confirmacao_senha"
                                placeholder="Confirme sua senha"
                                style="color: aliceblue; border-color: blueviolet; background-color: black; height: 60px; font-size: 20px;">
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button type="submit" class="btn w-25 mt-5 text-center"
                        style="background-color: blueviolet; border-color: blueviolet; color: aliceblue; height: 50px; font-size: 20px;">Criar
                        conta</button>
                </div>
            </form>
        </div>
    </div>
    {{#error}}
    <p>{{error}}</p>
    {{/error}}
</body>

</html>