<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Detalhes da tarefa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body style="background-color: black;">

    <header>
        <nav>
            <a href="/lists" style="color:blueviolet; font-size: 20px;">Listas</a>
            <a href="/logout" style="color:blueviolet; font-size: 20px;">Logout</a>
        </nav>
    </header>

    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mt-5" style="color:blueviolet; font-size: 70px;">Detalhes da Tarefa</h1>
            </div>

            <form action="/tasks/detail/{{task.id}}" method="post">
                <div class="row">
                    <div class="col-12">
                        <div class="mt-3">
                            <br><br><br><br>
                            <label for="titulo" class="form-label"
                                style="color: aliceblue; font-size: 30px;">Título:</label>
                            <input type="text" name="titulo_tarefa"
                                style="color: aliceblue; background-color: black; border-color: blueviolet;"
                                value="{{task.titulo_tarefa}}" required>
                            <br>
                            <br>
                            <label for="data" class="form-label" style="color: aliceblue; font-size: 30px;">Data de
                                conclusão:</label>
                            <input type="date" name="data_conclusao"
                                style="color: aliceblue; background-color: black; border-color: blueviolet;"
                                value="{{task.data_conclusao}}">
                            <br>
                            <br>
                            <label for="concluida" style="color: aliceblue; font-size: 30px;">Concluída:</label>
                            <input type="checkbox"
                                style="color: aliceblue; background-color: black; border-color: blueviolet;"
                                name="concluida" {{#task.concluida}}checked{{/task.concluida}}>
                            <br>
                            <br>
                            <br>
                            <br>
                            <label for="descricao" class="form-label"
                                style="color: aliceblue; font-size: 30px;">Descrição:</label>
                            <br>
                            <div style="width: 100%; border: 1px solid #000; padding: 10px;">
                                <textarea
                                    style="color: aliceblue; background-color: black; border-color: blueviolet; width: 100%; height: 200px;"
                                    placeholder="Insira uma descrição para sua tarefa">{{task.descricao}}</textarea>
                            </div>

                            <button type="submit" class="btn w-25 mt-5 text-center"
                                style="background-color: blueviolet; border-color: blueviolet; color: aliceblue; height: 50px; font-size: 20px;">Salvar</button>
                        </div>
                    </div>
                </div>
            </form>
            <form action="/tasks/delete/{{task.id}}" method="POST">
                <button type="submit" class="btn w-25 mt-5 text-center"
                    style="background-color: red; border-color: red; color: aliceblue; height: 50px; font-size: 20px;">Excluir
                    tarefa</button>
            </form>
        </div>
    </div>
    {{#error}}
    <p>{{error}}</p>
    {{/error}}

</body>

</html>