{{> layout }}
<h1>Tarefas para "{{list.titulo_lista}}"</h1>
<form action="/tasks/{{list.id}}" method="POST">
    <input type="text" name="titulo_tarefa" placeholder="Nova tarefa" required>
    <input type="date" name="data_conclusao">
    <textarea name="descricao" placeholder="Descrição"></textarea>
    <button type="submit">Adicionar Tarefa</button>
</form>
<ul>
    {{#tasks}}
    <li>
        <a href="/tasks/detail/{{id}}">{{titulo_tarefa}}</a>
        <input type="checkbox" {{#concluida}}checked{{/concluida}} disabled>
        <span>{{data_conclusao}}</span>
    </li>
    {{/tasks}}
</ul>
{{#error}}
<p>{{error}}</p>
{{/error}}